{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col">
            <p>Welcome to your new Silex Application!</p>
            <a href="{{ path('signin') }}">Log in</a>
        </div>
    </div>
{% endblock %}
