{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Home</h1>
            <p>Welcome back {{ user.username }}</p>
            <a href="{{ path('signout') }}">Log out</a>
        </div>
    </div>
{% endblock %}
