{% extends "layout.html.twig" %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome back {{ user.username }}</p>
    <a href="{{ path('createtask') }}">Add task</a>
    <a href="{{ path('signout') }}">Log out</a>
{% endblock %}
